*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




/* inicio */
html{
   background-color: #FFF;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #FE775A;
}

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.btn-login button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #FE775A;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.banner{
    height: 100vh;
    background-image:url(imagens/banner.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;
}

.banner h1 span{
    color: #ffc09e;
}
/* Final */






/* botao login */
.efeito-b :hover{
    animation: pula 0.5s;
}
/* Não esquecer de usar o webkit */
@-webkit-keyframes pula{
    0%, 20%, 60%, 100%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(-20px);
    }
    80%{
        transform: translateY(-10px);
    }
}
@-moz-keyframes pula{
    0%, 20%, 60%, 100%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(-20px);
    }
    80%{
        transform: translateY(-10px);
    }
}
@-o-keyframes pula{
    0%, 20%, 60%, 100%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(-20px);
    }
    80%{
        transform: translateY(-10px);
    }
}
@keyframes pula{
    0%, 20%, 60%, 100%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(-20px);
    }
    80%{
        transform: translateY(-10px);
    }
}
/* final botao login */





/* roda pé */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #FE775A;
}

#footer_oferta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_oferta p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #FE775A;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
/* final roda pé */








/* casas */

.img{
        height: auto;
        width:  29vw;
        object-fit: cover;
}

main{
    border: 900px;
    height: 250px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.caixa{
    width: 400px;
    height: 250px;
    margin: 7px;
    float: left;
    border: 3px solid #FFF;
    box-shadow: 10px 10px 40px #333;
    overflow: hidden;
    position: relative;
}

.caixa .conteudo{
    width: 400px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.caixa .conteudo h2{
    text-transform: uppercase;
    color: #FFF;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: relative;
}
.caixa .conteudo p{
    font-size: 20px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    padding: 10px;
    position: relative;
}
.caixa .conteudo .leia{
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    color: #FFF;
    box-shadow: 0px 0px 5px #000;
}
.caixa .conteudo .leia:hover{
    background-color: #F90;
    color: #000;
}
.caixa img{
    transition:  0.2s linear;
}
.caixa:hover img{
    transform: scale(1.3);
}
.caixa .conteudo{
    background-color: rgba(219, 127, 8, 0.7);
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.caixa .conteudo h2{
    transform: translateY(-100px);
    transition: 0.2s ease-in-out;
}
.caixa .conteudo p{
    transform: translateY(120px);
    transition: 0.2s ease-in-out;
}
.caixa .conteudo .leia{
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.caixa:hover .conteudo,
.caixa:hover .conteudo p,
.caixa:hover .conteudo .leia{
    opacity: 1;
    transform: translateX(0px);
}
.caixa:hover .conteudo p{
    transition-delay: 0.3s;
}
.caixa:hover .conteudo .leia{
    transition-delay: 0.5s;
}
/* casas */




/* espaco */
.espaco{
    background-color: #FFF;
    width: 100%;
    height: 75px;
}
/* espaco */





/* sobre */
.sobre{
    float: left;
    background-color: #FFF;
    width: 100%;
    height: 250px;
    
}
/* sobre */






/* ofertas */
.ofertas{
    float: left;
    background-color: #FFF;
    width: 100%;
    height: 250px;
}
/* ofertas */



/* borda */
#tabsobre{
    border: 3px solid #FFF;
    box-shadow: 0px 0px 4px #333;
}
/* borda */